.allContent {
    width: 100vw;
    height: 100vh;
    transition: 500ms;
    overflow-x: hidden;
    position: relative;
}

.allContent.darktrue {
    background-color: hsl(207, 26%, 17%);
}

.fullView {
    position: absolute;
    display: block;
    padding-bottom: 10rem;
    transition: 300ms;
    width: 100%;
}

.fullView.detailstrue {
    transform: translateX(-100%);
}

.focusedView {
    position: absolute;
    width: 100%;
    height: 100%;
    transition: 300ms;
    transform: translateX(100%);
    padding-bottom: 1rem !important;
}

.focusedView.detailstrue {
    transform: translateX(0%);
}

.menuSection {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3rem 5rem;
    gap: 2rem;
}

.search {
    background-color: white;
    width: 30%;
    height: 4rem;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-left: 1rem;
    box-shadow: 1px 1px 10px 1px rgb(228, 228, 228);
}

.search.darktrue {
    background-color: hsl(209, 23%, 22%);
    box-shadow: 1px 1px 10px 1px hsl(210, 26%, 15%);
}

@media (max-width: 1280px) {
    .search {
        width: 50%;
    }
}

.search > input {
    width: 85%;
    height: 90%;
    border: none;
    padding-left: 1.6rem;
    font-size: 1rem;
    color: #111517;
}

.search.darktrue > input {
    background-color: hsl(209, 23%, 22%);
    color: white;
}

.search > input:focus {
    outline: none;
}


.listSection {
    width: 100%;
    padding: 0rem 5rem 0rem 5rem;
    color: #111517;
    display: grid;
    grid-template-columns: 20% 20% 20% 20%;
    gap: 1rem 3.5%;
}

.listSection.darktrue {
    color: white;
}

.listSection.darktrue > li {
    background-color: hsl(209, 23%, 22%);
}

@media (max-width: 1320px) {
    .listSection {
        grid-template-columns: 23% 23% 23%;
        gap: 1rem 9.1%;
    }
}

@media (max-width: 970px) {
    .listSection {
        grid-template-columns: 33% 33%;
        gap: 1rem 17%;
    }
}

@media (max-width: 720px) {
    .listSection {
        grid-template-columns: 78%;
        gap: 1rem;
    }
}

@media (max-width: 494px) {
    .listSection {
        justify-content: center;
        padding: 0px;
    }

    .menuSection {
        padding: 3rem 1rem;
    }
}

.listSection > li {
    box-shadow: 1px 1px 10px 1px rgb(228, 228, 228);
    background-color: white;
    list-style: none;
    margin-bottom: 2rem;
    border-radius: 10px 10px 5px 5px;
    overflow: hidden;
    transition: 200ms;
    cursor: pointer;
}

.listSection.darktrue > li {
    box-shadow: 1px 1px 10px 1px hsl(210, 26%, 15%);
}

.listSection > li:hover {
    transform: scale(1.1);
}

.flagsContainer {
    height: 12rem;
    width: 100%;
    background-color: black;
    font-size: 24rem;
    text-align: center;
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 2rem;
}

.innerFlags {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

}

.countryInfo {
    padding: 0rem 1.2rem 2.3rem 1.8rem;
}

.countryInfo > h2 {
    margin-top: 1.7rem;
    font-size: 1.2rem;
}

.countryInfo > p {
    font-size: 0.9rem;
    line-height: 1;
}

.countryInfo > p > strong {
    font-weight: 600;
}

.dropDownBtn {
    background-color: white;
    border: none;
    padding: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2.7rem;
    font-size: 1rem;
    color: hsl(200, 15%, 8%);
    cursor: pointer;
    position: relative;
    box-shadow: 1px 1px 10px 1px rgb(228, 228, 228);
}

.dropDownBtn.darktrue {
    background-color: hsl(209, 23%, 22%);
    color: white;
    box-shadow: 1px 1px 10px 1px hsl(210, 26%, 15%);
}

@media (max-width: 710px) {
    .dropDownBtn {
        padding: 1.5rem 0.8rem 1.5rem  0.8rem;
        font-size: 0.8rem;
        gap: 0.5rem;
    }

    .menuSection {
        gap: 0.5rem;
    }
}

.dropDownMenu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 0.7rem;
    position: absolute;
    z-index: 99;
    width: 100%;
    background-color: white;
    padding: 0px;
    padding-top: 1rem;
    padding-bottom: 1rem;
    top: 100%;
    box-shadow: 1px 1px 10px 1px rgb(228, 228, 228);
    color: hsl(200, 15%, 8%);
}

.dropDownMenu.darktrue {
    background-color: hsl(209, 23%, 22%);
    color: white;
    box-shadow: 1px 1px 10px 1px hsl(210, 26%, 15%);
}

.dropDownMenu > li {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    list-style: none;
    font-size: 1rem;
    padding-left: 1.3rem;
    width: 91%;
    transition: 100ms;
}

.dropDownMenu > li:hover {
    font-size: 1.1rem;
}

.caretDown {
    transition: 200ms;
}

.rotatetrue {
    transform: rotate(180deg);
}

.focusedView {
    padding: 5rem 5rem;
}

.backBtn {
    background-color: white;
    color: hsl(200, 15%, 8%);
    border: none;
    border-radius: 5px;
    box-shadow: 1px 1px 10px 1px rgb(209, 209, 209);
    padding: 0.8rem 2.3rem;
    font-size: 1rem;
    font-weight: 100;
    display: flex;
    gap: 0.7rem;
    justify-content: center;
    align-items: center;
    transition: 200ms;
    cursor: pointer;
}

.backBtn.darktrue {
    background-color: hsl(209, 23%, 22%);
    color: white;
    box-shadow: 1px 1px 10px 1px hsl(210, 26%, 15%);
}

.backBtn:hover {
    transform: scale(1.1);
}

.detailsSection {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10rem;
    margin-top: 6rem;
}

@media (max-width: 1510px) {
    .detailsSection {
        gap: 5rem;
    }
}

.detailImageSection {
    background-color: black;
    height: 27rem;
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.detailInnerImage {
    padding-top: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 47rem;
}

.detailContentSection {
    display: flex;
    flex-direction: column;
}

.detailContentSection.darktrue {
    color: white;
}

.detailContentSection > h1 {
    font-size: 2rem;
    margin-bottom: 0.7rem;
}

.detailedInfo {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 1rem;
    margin-bottom: 2.7rem;
}


@media (max-width: 1360px) {
    .focusedView {
        padding-left: 2rem;
    }

    .detailsSection {
        gap: 2rem;
    }
    
    .detailedInfo {
        gap: 1rem;
        justify-content: space-between;
    }   
    
    .detailImageSection {
        width: 35rem;
        height: 25rem;
    }
}

@media (max-width: 1150px) {
    .backBtn {
        margin-left: 4rem;
    }

    .detailstrue {
        height: 150vh;
    }

    .detailsSection {
        flex-direction: column;
    }

    .detailImageSection {
        width: 80%;
    }

    .detailContentSection {
        width: 80%;
    }

    .detailedInfo {
        justify-content: space-around;
    }

    .detailPart1 > p {
        width: 70% !important;
    }
}

@media (max-width: 650px) {

    .focusedView {
        padding-left: 0rem; 
    }
    .detailsSection {
        padding-left: 0rem;
    }

    .detailedInfo {
        flex-direction: column;
    }

    .extraDetail {
        position: relative;
        margin-top: 2rem;
    }

    .extraDetail > p {
        position: absolute;
        bottom: 2rem;
    }
}

@media (max-width: 535px) { 
    .backBtn {
        margin-left: 1rem;
    }

    .detailImageSection {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 90%;
    }

    .focusedView {
        padding-left: 0rem;
    }
}

@media (max-width: 365px) {
    .extraDetail > p {
        position: relative;
        margin-bottom: -1.5rem;
        margin-top: 0px;
    }

    .extraDetail {
        margin-top: -3rem !important;
        padding: 0px !important;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start !important;
        width: 100%;
        height: 20rem;
    }

    .borderCountries {
        width: 100%;
    }
}

.detailPart1 > p > strong , .detailPart2 > p > strong {
    font-weight: 600;
}

.detailPart1 > p {
    width: 30rem;
}

@media(max-width: 1287px) {
    .detailPart1 > p {
        width: 20rem;
    }
}

.extraDetail {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.extraDetail > p {
    font-size: 1.2rem;
}

.extraDetail > p > strong {
    font-weight: 600;
}

.bordersContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 40%;
    gap: 1rem;
    flex-wrap: wrap;
}

.borderCountries {
    background-color: white;
    border: none;
    box-shadow: 1px 1px 5px 1px rgb(201, 201, 201);
    padding: 0.5rem 1.5rem;
    height: min-content;
    transition: 200ms;
    cursor: pointer;
}

.borderCountries.darktrue {
    background-color: hsl(209, 23%, 22%);
    color: white;
    box-shadow: 1px 1px 10px 1px hsl(210, 26%, 15%);
}

.borderCountries:hover {
    transform: scale(1.1);
}

.nonetrue {
    display: none !important;
}

.noResults {
    font-size: 3rem;
    padding-left: 5rem; 
}

.noResults.darktrue {
    color: white;
}

@media (max-width: 495px) {
    .noResults {
        padding-left: 1rem;
    }
}

@media (max-width:350px) {
    .noResults {
        font-size: 1.5rem;
    }
}