.menuSection {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3rem 5rem;
    gap: 2rem;
}

.search {
    background-color: white;
    width: 30%;
    height: 4rem;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-left: 1rem;
    box-shadow: 1px 1px 10px 1px rgb(228, 228, 228);

}

@media (max-width: 1280px) {
    .search {
        width: 50%;
    }
}

.search > input {
    width: 85%;
    height: 100%;
    border: none;
    padding-left: 1.6rem;
    font-size: 1rem;
    color: #111517;
}

.search > input:focus {
    outline: none;
}


.listSection {
    width: 100%;
    padding: 0rem 5rem 0rem 5rem;
    color: #111517;
}

.listSection > li {
    box-shadow: 1px 1px 10px 1px rgb(228, 228, 228);
    background-color: white;
    list-style: none;
    margin-bottom: 2rem;
    border-radius: 10px 10px 5px 5px;
    overflow: hidden;
    width: 17%;
}

.flags {
    height: 12rem;
    width: 100%;
    background-color: black;
}

.countryInfo {
    padding: 0rem 1.2rem 2.3rem 1.8rem;
}

.countryInfo > h2 {
    margin-top: 1.7rem;
    font-size: 1.2rem;
}

.countryInfo > p {
    font-size: 0.9rem;
}

.dropDownBtn {
    background-color: white;
    border: none;
    padding: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2.7rem;
    font-size: 1rem;
    color: hsl(200, 15%, 8%);
    cursor: pointer;
    position: relative;
    box-shadow: 1px 1px 10px 1px rgb(228, 228, 228);
}

@media (max-width: 710px) {
    .dropDownBtn {
        padding: 1.5rem 0.8rem 1.5rem  0.8rem;
        font-size: 0.8rem;
        gap: 0.5rem;
    }

    .menuSection {
        gap: 0.5rem;
    }
}

.dropDownMenu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 0.7rem;
    position: absolute;
    width: 100%;
    background-color: white;
    padding: 0px;
    padding-top: 1rem;
    padding-bottom: 1rem;
    top: 100%;
    box-shadow: 1px 1px 10px 1px rgb(228, 228, 228);

}

.dropDownMenu > li {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    list-style: none;
    font-size: 1rem;
    padding-left: 1.3rem;
    width: 91%;
    transition: 100ms;
}

.dropDownMenu > li:hover {
    font-size: 1.1rem;
}

.caretDown {
    transition: 200ms;
}

.rotatetrue {
    transform: rotate(180deg);
}